@import 'tailwindcss';

/* dark mode support */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f3f3f3;
  --foreground: #171717;
  --secondary: #070e17;
}

.dark {
  --background: #070e17;
  --foreground: #f3f3f3;
  --background-secondary: #1f2937;
  --secondary: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-dm-sans: var(--font-dm-sans);

  /* custom theme colors */
  --color-primary: #3edde2;
  --color-secondary: var(--secondary);
  --color-brand-black-100: #0b131e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
